<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" /> <!-- This will prevent app from **showing** in app-store for phones without NFC -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Required for downloading PDFs from URLs -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NFCEInkWriter">
        <!-- Ticket List Activity (Main/Launcher) -->
        <activity
            android:name=".TicketListActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <!-- Add Ticket Activity -->
        <activity
            android:name=".AddTicketActivity"
            android:parentActivityName=".TicketListActivity" />

        <!-- NFC Flasher Activity -->
        <activity
            android:name=".NfcFlasher"
            android:launchMode="singleTask"
            android:parentActivityName=".TicketListActivity" />

        <!-- Settings Activity -->
        <activity android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".TicketListActivity" />

        <!-- About Activity -->
        <activity android:name=".AboutActivity"
            android:label="@string/about_title"
            android:parentActivityName=".TicketListActivity" />

        <activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>